/* CSS for Avalon Web Board */

body {
    width: 100vw;
    height: 100vh;
    min-width: 480px;
    padding: 0;
    margin: 0;
    background: black;
    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    user-select: none;
}

img {
    display: block;
    margin: 0 auto 0 auto;
    min-width: 200px;
    min-height: 200px;
    width: 10vw;
    height: 10vw;
}

input {
    font-family: inherit;
    padding: 0;
    margin: 0;
    font-size: 2em;
}

a {
    text-decoration: none;
    color: inherit;
}

#background {
    width: 100vw;
    height: 100vh;
    z-index: 0;
    background: linear-gradient(60deg,#000,#333);
}

#main {
    width: 100vw;
    height: 100vh;
    display: grid;
    z-index: 1;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 2fr 1fr 1fr;
    grid-template-areas:
        'x x x'
        'y y y'
        'a b c'
        'd e f';
}

/* Grid Area Assignments*/
#title {
    grid-area: x;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 144pt;
}

#mainpic {
    grid-area: y;
    display: flex;
    justify-content: center;
    align-items: center;
}

#p5 {
    grid-area: a;
}

#p6 {
    grid-area: b;
}

#p7 {
    grid-area: c;
}

#p8 {
    grid-area: d;
}

#p9 {
    grid-area: e;
}

#p10 {
    grid-area: f;
}

#board {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 2;
}

#cardbox {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

#roles {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(60deg,#000,#333);
}

#roles h1 {
    width: 100%;
}

#buttonbox {
    width: 50vh;
    height: 6vh;
    margin: 1%;
    min-width: 40vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#buttonbox div {
    width: 20vh;
    height: 5vh;
    margin: 1%;
    min-width: 20vw;
    border: 3pt white solid;
    box-shadow: 0 0 6pt 3pt white;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
}

#skip {
    background: darkred;
}

#assign {
    background: darkblue;
}

#pass {
    background: darkblue;
}

#fail {
    background: darkred;
}

#shade {
    background: black;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 96pt;
}

@keyframes reveal {
    from {opacity: 0; visibility: hidden;}
    to {opacity: 1; visibility: visible;}
}

@keyframes conceal {
    from {opacity: 1; visibility: visible;}
    to {opacity: 0; visibility: hidden;}
}

.reveal {
    animation-name: reveal;
    animation-duration: 0.25s;
    visibility: visible;
}

.conceal {
    animation-name: conceal;
    animation-duration: 0.25s;
    visibility: hidden;
}

.hidden {
    visibility: hidden;
}

.players {
    margin: 0 4vw 4vh;
    border-radius: 25px;
    border: 3pt solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 6pt 3pt white;
    font-size: 72pt;
    font-weight: bold;
}

.mission {
    width: 10vw;
    height: 10vw;
    border-radius: 100%;
    border: 3pt solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 6pt 3pt white;
    font-size: 4vw;
    font-weight: bold;
}

.card {
    width: calc(100vw - 4vh);
    height: 96vh;
    max-width: calc((900vh/16) - 4vh);
    max-height: calc((1600vw/9) - 4vw);
    border-radius: 50px;
    border: 10pt solid white;
    background: linear-gradient(120deg,#111,#222);
    background-image: url("../img/avalon/card.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.button {
    width: 24%;
    height: 13.5%;
    margin: 10%;
    border: 10pt solid white;
    border-radius: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vh;
}

.secret {
    width: 50vh;
    height: 5vh;
    margin: 5px;
    min-width: 40vw;
    border: 3pt white solid;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.back {
    position: fixed;
    line-height: 0;
    top: 40px;
    left: 60px;
    font-size: 24pt;
    color: #444;
}

#showroles {
    top: 40px;
    left: calc(97vw - 60px);
}

@media only screen and (max-aspect-ratio: 4/3) {
    img {
        height: 40vw;
        width: 40vw;
    }

    #board {
        flex-direction: column;
    }

    .mission {
        width: 12vh;
        height: 12vh;
        font-size: 5vh;
        transform: rotate(90deg);
    }
}