/* CSS for Tony Zhang's Website */

/* Global Element Styles */
body {
    width: 100%;
    height: 100%;
    min-width: 480px;
    padding: 0;
    margin: 0;
    background: black;
    color: white;
    text-align: center;
    font-family: 'Trebuchet MS', Arial, monospace;
}

h1 {
    font-size: 60pt;
    margin: 0px 2vw;
}

h2 {
    font-size: 24pt;
    margin: 0 1vw;
}

h3 {
    padding: 0;
    margin: 0;
}

h4 {
    font-size: 12pt;
}

p {
    font-size: 16pt;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

label {
    display: grid;
}

input {
    display: none;
}

img {
    display: block;
    margin: 0 auto 0 auto;
    min-width: 200px;
    min-height: 200px;
    width: 10vw;
    height: 10vw;
}

/* Global Class Styles */
.landing {
    grid-area: landing;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.nav {
    grid-area: nav;
    display: flex;
    justify-content: flex-start;
}

.nav a {
    padding: 1em 2em;
    font-weight: bold;
    font-size: 16pt;
}

.title {
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: column;
}

.hiddenText {
    transition: all 1s ease;
    overflow: hidden;
}

.branch {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.leaf {
    width: calc(80px + 4vh);
    height: calc(80px + 4vh);
    margin: calc(30px + 1.5vh) calc(10px + 2vw);
    background: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.leaf p {
    width: calc(120px + 4vh);
    position: relative;
    top: calc(70px + 4vh);
    left: -20px;
    font-weight: bold;
    font-size: 14pt;
}

.leaf .tooltip {
    visibility: hidden;
    background: rgba(29, 29, 97, 0.95);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    position: fixed;
    top: 2vmax;
    padding: 2vmax 5vw;
    left: 10vw;
    width: 70vw;
    border-radius: 1em;
    border: none;
}

.leaf:hover {
    position: relative;
    top: -5pt;
}

.leaf:hover .tooltip {
    visibility: visible;
}

.tile {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    color: white;
}

.picture {
    background-repeat: no-repeat;
    background-size: contain, cover;
    background-position: center;
    cursor: pointer;
}

.information {
    background: black;
    color: white;
    display: none;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(60deg,midnightblue,slateblue);
}

.tile h2 {
    font-size: 4em;
}

.download {
    display: flex;
    flex-direction: column;
}

.download img {
    min-width: auto;
    min-height: auto;
    width: auto;
    height: 10vh;
}

.download img:hover {
    position: relative;
    top: -2pt;
}

.nodownload {
    display: none;
}

.nodownload img {
    min-width: auto;
    min-height: auto;
    width: auto;
    height: 10vh;
}

.back {
    cursor: pointer;
    font-size: 3vh;
    text-decoration: underline;
}

.footer {
    grid-area: footer;
    min-height: 5vh;
    color: white;
    background: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Animations */
@keyframes floatin {
    from {opacity: 0; position: relative; top: 5vh;}
    to {opacity: 1; position: relative; top: 0px;}
}

@keyframes invis {
    from {opacity: 0;}
    to {opacity: 0;}
}

@keyframes floatdown {
    from {opacity: 0; position: relative; bottom: 5vh;}
    to {opacity: 1; position: relative; bottom: 0px;}
}

@keyframes fade {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* About Styles */
#aboutContainer {
    background: linear-gradient(120deg,steelblue,25%,midnightblue);
}

#aboutLanding {
    min-height: 5vh;
}

#aboutOne {
    grid-area: a;
    min-height: 95vh;
    justify-content: center;
}

#aboutOne h1 {
    font-size: 8em;
}

#aboutOne h2 {
    margin: 4vh 8vw;
}

#aboutTwo {
    grid-area: b;
    margin: 0 20px;
    min-height: 35vh;
}

#aboutTwo div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#aboutThree {
    grid-area: c;
    margin: 0 20px;
    min-height: 35vh;
    justify-content: center;
}

#aboutThree div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#aboutFour {
    grid-area: d;
    justify-content: flex-start;
}

#teams {
    margin: 1vh 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
    flex-wrap: wrap;
}

#teams div {
    width: 80vw;
    margin: 0 4vw 4vw 4vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#aboutFive {
    grid-area: e;
    min-height: 96vh;
}

#skillTree {
    display: flex;
    min-height: 80vh;
    margin: 0 5vw 30px 5vw;
}

/* Gallery Styles */
#galleryContainer {
    background: linear-gradient(60deg,midnightblue,60%,slateblue);
}

#galleryLanding {
    min-height: 100vh;
}

#t0 {
    grid-area: info;
    display: flex;
}

#t1 {
    grid-area: a;
    background-image: url("../img/games/wd.png");
}

#t2 {
    grid-area: info;
}

#t3 {
    grid-area: b;
    background-image: url("../img/games/ms.png");
}

#t4 {
    grid-area: info;
}

#t5 {
    grid-area: c;
    background-image: url("../img/games/2048.png");
}

#t6 {
    grid-area: info;
}

#t7 {
    grid-area: d;
    background-image: url("../img/games/bwc.png");
}

#t8 {
    grid-area: info;
}

/* Contact Styles */
#contactContainer {
    background: linear-gradient(45deg,darkslateblue,70%,rebeccapurple);
    height: 100vh;
}

#contactContent {
    grid-area: a;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#contactContent .content {
    display: flex;
    flex-direction: row;
    text-align: left;
    flex-wrap: wrap;
    justify-content: baseline;
    align-items: center;
    width: 100%;
    animation-name: floatin, invis;
}

#contactContent .content img {
    margin: 0 0 0 5vw;
}

#contactOne {
    animation-duration: 1s, 0s;
    animation-delay: 0s, 0s;
}

#contactTwo {
    animation-duration: 1s, 0.5s;
    animation-delay: 0.5s, 0s;
}

#contactThree {
    animation-duration: 1s, 1s;
    animation-delay: 1s, 0s;
}

/* Halloween Styles */
#halloweenLanding {
    background-image: url("../halloween/splash.png");
    background-repeat: no-repeat;
    background-size: auto 75%;
    background-position: bottom right;
    height: 100vh;
    animation-name: fade, invis;
    animation-duration: 1s, 0s;
    animation-delay: 0s, 0s;
}

#halloweenNav {
    color: #666;
    animation-name: floatdown, invis;
    animation-duration: 1s, 9s;
    animation-delay: 9s, 0s;
}

#halloweenTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    color: goldenrod;
    font-weight: bold;
    font-family: 'Rock Salt', cursive;
    grid-area: a;
    font-size: 7em;
    padding: 2% 0%;
    animation-name: floatdown, invis;
    animation-duration: 2s, 2s;
    animation-delay: 2s, 0s;
}

#halloweenDescription {
    grid-area: b;
    padding: 0% 10%;
    animation-name: fade, invis;
    animation-duration: 1.5s, 5s;
    animation-delay: 5s, 0s;
}

#halloweenDownload {
    grid-area: c;
    animation-name: fade, invis;
    animation-duration: 1.5s, 5.5s;
    animation-delay: 5.5s, 0s;
}

/* Mobile Only Styles*/
@media only screen and (max-aspect-ratio: 69/100) {
    h2 {
        font-size: 6vw;
    }
    
    p {
        font-size: 4vw;
    }

    h4 {
        font-size: 3vw;
    }
    
    img {
        height: 40vw;
        width: 40vw;
    }
    
    .nav {
        width: 100%;
        justify-content: space-around;
    }

    .nav a {
        padding: 1em 0em;
        font-size: 5vw;
    }

    .leaf {
        width: 25vw;
        height: 25vw;
        margin: 10vw 2vw;
    }

    .leaf p {
        width: 30vw;
        position: relative;
        top: 25vw;
        left: -2.5vw;
        font-weight: bold;
        font-size: 3vw;
    }

    .tile {
        width: 100%;
        min-height: 56vw;
        color: white;
        margin: 0 0 4vw 0;
    }
    
    .information {
        background: transparent;
    }

    .information h2 {
        display: none;
    }

    .information p, h4 {
        margin: 0 10vw;
    }

    .download {
        display: none;
    }

    .nodownload {
        display: flex;
    }

    .exception {
        display: flex;
    }

    #aboutOne h1 {
        font-size: 20vw;
    }

    #teams div {
        width: 80vw;
        margin: 0 4vw 4vw 4vw;
    }

    #halloweenLanding {
        background-size: auto 40vh;
        background-position: bottom center;
    }

    #halloweenDownload {
        background: linear-gradient(transparent,black);
        position: absolute;
        width: 100vw;
        bottom: 0vh;
        padding: 0 0 1vh 0;
    }
}

/* Tablet Only Styles*/
@media only screen and (min-aspect-ratio: 69/100) and (max-aspect-ratio: 4/3) {
    .information p, h4 {
        margin: 0 20px;
    }

    .download {
        display: none;
    }

    .nodownload {
        display: flex;
    }

    .exception {
        display: flex;
    }
    
    .back {
        display: none;
    }

    #aboutContainer {
        display: grid;
        grid-template-columns: 1fr 6fr 6fr 1fr;
        grid-template-areas:
            "landing landing landing landing"
            "x a a y"
            "x a a y"
            "x b c y"
            "x d d y"
            "e e e e"
    }

    #aboutTwo {
        justify-content: flex-start;
    }

    #aboutThree {
        justify-content: flex-start;
    }

    #teams div {
        width: 50vw;
        margin: 0 4vw 4vw 4vw;
    }

    #galleryLanding {
        display: grid;
        grid-template-columns: 20px 60vw 1fr 20px;
        grid-template-rows: auto 1fr 1fr 1fr 1fr 20px auto;
        grid-template-areas:
            "nav nav nav nav"
            "x info a y"
            "x info b y"
            "x info c y"
            "x info d y"
            "z z z z"
    }

    #contactContainer {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        grid-template-rows: 5vh 5vh 80vh 5vh;
        grid-template-areas:
            "landing landing landing"
            "x x x"
            "y a z"
            "y b z"
    }

    #halloweenLanding {
        background-size: 40% auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto 2fr 1fr 1fr 5vh;
        grid-template-areas:
            "nav nav nav"
            "a a a"
            "b b d"
            "c c d"
            "e e e"
    }
}

/* Desktop Only Styles */
@media only screen and (min-aspect-ratio: 4/3) {
    input[type="checkbox"]:not(:checked) + .hiddenText {
        height: 0;
        opacity: 0;
    }

    .information p, h4 {
        margin: 0 20px;
    }

    .back {
        display: none;
    }

    #aboutContainer {
        display: grid;
        grid-template-columns: 1fr 6fr 3fr 1fr;
        grid-template-areas:
            "landing landing landing landing"
            "a a b x"
            "a a c x"
            "y d d x"
            "e e e e"
    }

    #aboutTwo {
        justify-content: center;
    }

    #aboutTwo div {
        cursor: pointer;
    }

    #aboutThree {
        justify-content: center;
    }

    #aboutThree div {
        cursor: pointer;
    }

    #teams div {
        width: 20vw;
        padding: 2vw;
        margin: 1vw;
        cursor: pointer;
    }

    #galleryLanding {
        display: grid;
        grid-template-columns: 40vw 1fr 1fr 1fr;
        grid-template-rows: auto 1fr 1fr 1fr 20px auto;
        grid-template-areas:
            "nav nav nav nav"
            "info a a a"
            "info a a a"
            "info b c d"
            "z z z z"
    }

    #contactContainer {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        grid-template-rows: 5vh 5vh 80vh 5vh;
        grid-template-areas:
            "landing landing landing"
            "x x x"
            "y a z"
            "y b z"
    }

    #halloweenLanding {
        display: grid;
        grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
        grid-template-rows: auto 2fr 1fr 1fr 5vh;
        grid-template-areas:
            "nav nav nav nav nav"
            "x a a z y"
            "x b b z y"
            "x c c d y"
            "e e e e e"
    }
}