/* CSS for Tony Zhang's Website */

/* Global Element Styles */
body {
    width: 100%;
    height: 100%;
    min-width: 480px;
    padding: 0;
    margin: 0;
    background: black;
    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-size: calc(8pt + 8vh);
    margin: 0px 2vw;
}

h2 {
    font-size: calc(8pt + 2vh);
    margin: 0 1vw;
}

h3 {
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

label {
    display: block;
}

input {
    display: none;
}

/* Global Class Styles */
.landing {
    grid-area: landing;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav {
    grid-area: nav;
    display: flex;
    justify-content: flex-start;
}

.nav a {
    padding: 1em 2em;
    font-weight: bold;
    font-size: 16pt;
}

.title {
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: column;
}

.hiddenText {
    transition: all 1s ease;
    overflow: hidden;
}

.branch {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.leaf {
    width: 100px;
    height: 100px;
    margin: 30px 2vw;
    background: white;
    border-radius: 20px;
}

.leaf p {
    width: 120px;
    position: relative;
    top: 90px;
    left: -10px;
    font-weight: bold;
}

.footer {
    grid-area: footer;
    min-height: 5vh;
    color: white;
    background: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Animations */
@keyframes textenter {
    0% {color: black;}
    100% {color: white;}
}

@keyframes textblink {
    0% {color: white;}
    50% {color: white;}
    51% {color: black;}
    100% {color: black;}
}

/* Desktop Only Styles */
@media only screen and (orientation: landscape) and (min-width: 768px) {
    input[type="checkbox"]:not(:checked) + .hiddenText {
        height: 0;
        opacity: 0;
    }

    #homeContainer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            "landing landing landing"
            "a b c"
            "footer footer footer";
    }

    #aboutContainer {
        display: grid;
        grid-template-columns: 1fr 6fr 3fr 1fr;
        grid-template-areas:
            "landing landing landing landing"
            "a a b x"
            "a a c x"
            "y d d x"
            "e e e e"
            "footer footer footer footer";
    }

    #galleryLanding {
        display: grid;
        grid-template-columns: 1fr 9fr 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas:
            "nav nav nav"
            "x a y"
    }
}

/* Homepage Styles */
#homeLanding {
    min-height: 105vh;
    justify-content: space-between;
}

#homeNav {
    grid-area: nav;
}

#homeGraphic {
    grid-area: graphic;
    align-self: center;
}

#homeGraphic h1 {
    grid-area: graphic;
    text-align: left;
    font-size: calc(8vw + 16vh);
}

#terminal {
    animation: textenter 2s;
}

#cursor {
    animation: textenter 1.5s, textblink 1.5s 0.75s infinite;
}

#homeTitle {
    grid-area: title;
    align-content: center;
    justify-content: center;
    margin: 16vh 8vw 8vh;
}

#homeTitle h1 {
    font-size: calc(6vw + 6vh);
    margin: 0 0 4vh;
}

#homeOne {
    grid-area: a;
    justify-content: space-around;
    min-height: 30vh;
    background: white;
    color: black;
}

#homeOne:hover {
    background: darkred;
}

#homeTwo {
    grid-area: b;    
    justify-content: space-around;
    min-height: 30vh;
}

#homeTwo:hover {
    background: darkred;
}

#homeThree {
    grid-area: c;
    justify-content: space-around;
    min-height: 30vh;
    background: white;
    color: black;
}

#homeThree:hover {
    background: darkred;
}

/* About Styles */
#aboutContainer {
    background: linear-gradient(120deg,steelblue,25%,midnightblue);
}

#aboutLanding {
    min-height: 5vh;
}

#aboutOne {
    grid-area: a;
    min-height: 95vh;
    justify-content: center;
}

#aboutOne h1 {
    font-size: 8em;
}

#aboutOne h2 {
    margin: 4vh 8vw;
}

#aboutTwo {
    grid-area: b;
    min-height: 35vh;
    justify-content: center;
}

#aboutTwo div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#aboutThree {
    grid-area: c;
    min-height: 35vh;    
    justify-content: center;
}

#aboutThree div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#aboutFour {
    grid-area: d;
    min-height: 30vh;
    justify-content: space-evenly;
}

#teams {
    margin: 1vh 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#teams div {
    background: blue;
    width: 20vw;
    padding: 2vw;
    margin: 1vw;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#aboutFive {
    grid-area: e;
    min-height: 90vh;
}

#skillTree {
    display: flex;
    min-height: 80vh;
    margin: 0 5vw 30px 5vw;
}

/* Gallery Styles */
#galleryContainer {
    background: linear-gradient(rgb(0, 0, 40),rgb(0, 0, 80));
}

#galleryLanding {
    min-height: 100vh;
}

#galleryLanding .content {
    border: solid 1pt white;
}

#galleryOne {
    grid-area: a;
}

#galleryTwo {
    grid-area: a;
    display: none;
}

/* Mobile Only Styles */
@media only screen and (orientation: portrait) , only screen and (max-width: 768px) {
    .nav {
        width: 100%;
        justify-content: space-around;
    }

    .nav a {
        padding: 1em 0em;
        font-size: 24pt;
    }

    #homeGraphic h1 {
        margin: 10vh 0 0 0;
        text-align: center;
    }

    #teams div {
        width: 80vw;
        margin: 0 4vw 4vw 4vw;
    }

    #galleryLanding .content {
        margin: 4vw;
    }
}