/* CSS for Tony Zhang's Website */

/* Global Styles */
body {
    width: 100%;
    height: 100%;
    min-width: 480px;
    min-height: 720px;
    padding: 0;
    margin: 0;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-size: calc(12px + 8vh);
    margin: 0px 2vw;
}

h2 {
    font-size: calc(12px + 2vh);
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.landing {
    grid-area: landing;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav {
    display: flex;
    justify-content: flex-start;
}

.nav a {
    padding: 1em 2em;
    font-weight: bold;
}

@media only screen and (orientation: portrait) {
    .nav {
        width: 100%;
        justify-content: space-around;
    }
}

.title {
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: column;
}

.footer {
    grid-area: footer;
    min-height: 5vh;
    color: white;
    background: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Homepage Styles */
@media only screen and (orientation: landscape) {
    #homeContainer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            "landing landing landing"
            "a b c"
            "footer footer footer";
    }
}
#homeLanding {
    min-height: 100vh;
    background: white;
}

#homeTitle {
    margin: 12vh 5vw;
    align-self: flex-end;
}

@media only screen and (orientation: portrait) {
    #homeTitle {
        align-self: center;
    }
}

#homeOne {
    grid-area: a;
    justify-content: space-around;
    min-height: 30vh;
    background: black;
    color: white;
}

#homeOne:hover {
    background: darkred;
}

#homeTwo {
    grid-area: b;    
    justify-content: space-around;
    min-height: 30vh;
}

#homeTwo:hover {
    background: darkred;
}

#homeThree {
    grid-area: c;
    justify-content: space-around;
    min-height: 30vh;
    background: black;
    color: white;
}

#homeThree:hover {
    background: darkred;
}

/* About Styles */
@media only screen and (orientation: landscape) {
    #aboutContainer {
        display: grid;
        grid-template-columns: 1fr 4fr 4fr 1fr;
        grid-template-areas:
            "landing landing landing landing"
            "a a a y"
            "x b b y"
            "x c d y"
            "x e e y"
            "footer footer footer footer";
    }
    #aboutOne h1 {
        align-self: flex-start;
    }
}

#aboutContainer {
    background-image: url('../img/aboutBgd.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#aboutLanding {
    background: black;
    color: white;
    min-height: 5vh;
}

#aboutOne {
    grid-area: a;
    min-height: 35vh;
    background: rgba(255,255,255,0);
    color: white;
}

#aboutTwo {
    grid-area: b;
    min-height: 30vh;
    background: rgba(255,255,255,0);
    color: white;  
}

#aboutThree {
    grid-area: c;
    min-height: 30vh;
    background: rgba(0,0,0,0.5);
    color: white;
}

#aboutFour {
    grid-area: d;
    min-height: 30vh;
    background: rgba(0,0,0,0.5);
    color: white;
}

#aboutFive {
    grid-area: e;
    min-height: 90vh;
    background: white;
}

#skillTree {
    display: flex;
    min-height: 80vh;
    margin: 0 5vw 30px 5vw;
}

.branch {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.leaf {
    width: 100px;
    height: 100px;
    margin: 30px 2vw;
    background: black;
}

.leaf p {
    color: black;
    width: 120px;
    position: relative;
    top: 90px;
    left: -10px;
    font-weight: bold;
}